.flex {
    /* border: 2px solid black; */
    width: 45%;
    margin: auto;
    margin-top: 10%;
    box-shadow: #a0bccc 0px 3px 8px;
}

.form {
    margin: auto;
    width: 80%;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

label {
    font-size: larger;
    color: #003f67;
    font-weight: 600;
}

input {
    height: 1.5rem;
    width: 89%;
}

button {
    height: 2rem;
    border-radius: 0.3rem;
    background-color: #f59a7b;
    color: #003f67;
    font-weight: 600;
}
